<h1><%=@cocktail.name%></h1>
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-2">
    <ul>
      <% @cocktail.doses.each do | dose|%>
      <li><%= dose.description %> of <%= dose.ingredient.name%>
        <%= link_to "Delete dose", dose_path(dose), method: :delete %>
      </li>
      <% end %>
    </ul>
    <p><%= link_to "Back to cocktails", cocktails_path %></p>
  </div>
  <div class="col mb-1">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
