<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key%>');">
  <div class="container row">
    <div class="col-md-8">
      <h1><%=@cocktail.name%></h1>
      <ul>
      <% @cocktail.doses.each do |dose|%>
      <li><%=dose.description%> of <%=dose.ingredient.name%></li>
      <% end %>
      </ul>
      <%= link_to "BACK TO ALL COCKTAILS", cocktails_path, class:'funky-button' %>
    </div>
    <div class="col-md-4">
      <h2>Add an ingredient</h2>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.button :submit, class:'funky-button' %>
      <% end %>
    </div>
  </div>
</div>
